$my-custom-palette: (
  50 : #e0e6ee,
  100 : #b3c0d5,
  200 : #8096b9,
  300 : #4d6c9c,
  400 : #264d87,
  500 : #002d72,
  600 : #00286a,
  700 : #00225f,
  800 : #001c55,
  900 : #001142,
  A100 : #778aff,
  A200 : #445eff,
  A400 : #1132ff,
  A700 : #0023f6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

