
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
  margin:100px;
}

.button-spacing {
  margin-right: 10px !important;
}

.mat-step-header-selected {
  color: black !important;
  background-color: ghostwhite !important;
}

.mat-step-icon {
  height: 34px !important;
  width: 34px !important;
  border: 1px solid dimgrey !important;
}

.version-info {
  font-size: 8pt;
  float: right;
}
