<mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>

  <ng-template matStepperIcon="edit" let-index="index">
    {{index +1}}
  </ng-template>

  <ng-template matStepperIcon="form">
    <mat-icon>format_align_center</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="last">
    <mat-icon>done_all</mat-icon>
  </ng-template>

  stepperStatus.address : {{stepperStatus.address | json}}
  <mat-step label="Address" [completed]="stepperStatus.address">
    <app-step-one [encryptedPaymentData]="encryptedPaymentData" (stepperStatusChange)="stepperStatusChange($event)"></app-step-one>
  </mat-step>

  <mat-step label="Payment">
    <app-step-two [encryptedPaymentData]="encryptedPaymentData" (dataReceived)="shareData($event)"></app-step-two>
  </mat-step>

  <mat-step label="Review">
    <app-step-three [encryptedPaymentData]="encryptedPaymentData"></app-step-three>
  </mat-step>

  <mat-step label="Done">
    <app-step-four></app-step-four>
  </mat-step>

</mat-horizontal-stepper>

<div class="diagnostics">
<!--  {{this.formService.mainForm.value | json}}-->
  <!-- <div *ngFor="let key of keys()">
    <span *ngIf="myForm[key]">
      <b>{{key}}</b>: {{myForm[key]}}
    </span>
  </div> -->
</div>
